* {
  margin: 0;
  padding: 0;
  font-size: 0; }

body, html {
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.2rem; }
  header .sp1 {
    display: inline-block;
    width: 2.12rem;
    height: .7rem;
    margin-left: .18rem;
    margin-top: .16rem;
    margin-bottom: .16rem; }
    header .sp1 img {
      width: 100%;
      height: 100%; }
  header .sp2 {
    display: inline-block;
    width: 1.2rem;
    height: .7rem;
    margin-right: .18rem; }
    header .sp2 a {
      width: 100%;
      height: 100%; }
      header .sp2 a figure {
        width: .45rem;
        height: .78rem;
        float: left;
        text-align: center;
        line-height: .2rem;
        overflow: hidden; }
        header .sp2 a figure img {
          width: 0.45rem;
          height: 0.45rem;
          color: #999;
          font-size: 0.45rem; }
        header .sp2 a figure figcaption {
          color: #999;
          font-size: .22rem; }

.content {
  flex-grow: 1;
  overflow: auto; }
  .content .banner {
    width: 100%;
    height: 2.38rem; }
    .content .banner img {
      width: 100%;
      height: 100%; }
  .content .fig {
    width: 100%;
    height: 4.6rem;
    border-bottom: 0.18rem solid #f4f4f4; }
    .content .fig figure {
      float: left;
      width: 1.2rem;
      height: 1.74rem;
      text-align: center; }
      .content .fig figure img {
        width: 1.2rem;
        height: 1.2rem; }
      .content .fig figure figcaption {
        font-size: 0.24rem;
        color: #333; }
    .content .fig figure:nth-child(1) {
      margin-left: 0.3rem;
      margin-top: 0.36rem; }
      .content .fig figure:nth-child(1) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(2) {
      margin-left: 0.7rem;
      margin-top: 0.36rem; }
      .content .fig figure:nth-child(2) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(3) {
      margin-left: 0.7rem;
      margin-top: 0.36rem; }
      .content .fig figure:nth-child(3) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(4) {
      margin-left: 0.7rem;
      margin-top: 0.36rem; }
      .content .fig figure:nth-child(4) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(5) {
      margin-left: 0.3rem;
      margin-top: 0.52rem; }
      .content .fig figure:nth-child(5) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(6) {
      margin-left: 0.7rem;
      margin-top: 0.52rem; }
      .content .fig figure:nth-child(6) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(7) {
      margin-left: 0.7rem;
      margin-top: 0.52rem; }
      .content .fig figure:nth-child(7) figcaption {
        margin-top: 0.28rem; }
    .content .fig figure:nth-child(8) {
      margin-left: 0.7rem;
      margin-top: 0.52rem; }
      .content .fig figure:nth-child(8) figcaption {
        margin-top: 0.28rem; }

/*# sourceMappingURL=index.css.map */
