@charset "utf-8";
*{margin: 0;padding: 0;font-size: 0;}
@mixin tanld{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body,html{
    height: 100%; 
    display: flex;
    flex-direction: column;
}
header{
    @include tanld;
    width: 100%;
    height: 1.2rem;
    .sp1{
        display: inline-block;
        width: 2.12rem;
        height: .7rem;
        margin-left: .18rem;
        margin-top: .16rem;
        margin-bottom: .16rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .sp2{
        display: inline-block;
        width: 1.2rem;
        height: .7rem;
        margin-right: .18rem;
        a{
            width: 100%;
            height: 100%;
            figure{
                width: .45rem;
                height: .78rem;
                float: left;
                text-align: center;
                line-height: .2rem;
                overflow: hidden;
                img{
                    width: 0.45rem;
                    height: 0.45rem;
                    color: #999;
                    font-size: 0.45rem;
                }
                figcaption{
                    color: #999;
                    font-size: .22rem;
                }
            }
        }
    }
}
.content{
    flex-grow: 1;
    overflow: auto;
    .banner{
        width: 100%;
        height: 2.38rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .fig{
        width: 100%;
        height: 4.6rem;
        border-bottom: 0.18rem solid #f4f4f4;
        figure{
            float: left;
            width: 1.2rem;
            height: 1.74rem;
            text-align: center;
            img{
                width: 1.2rem;
                height: 1.2rem;
            }
            figcaption{font-size: 0.24rem;color: #333;}
        }
        figure:nth-child(1){
            margin-left: 0.3rem;
            margin-top: 0.36rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(2){
            margin-left: 0.7rem;
            margin-top: 0.36rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(3){
            margin-left: 0.7rem;
            margin-top: 0.36rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(4){
            margin-left: 0.7rem;
            margin-top: 0.36rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(5){
            margin-left: 0.3rem;
            margin-top: 0.52rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(6){
            margin-left: 0.7rem;
            margin-top: 0.52rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(7){
            margin-left: 0.7rem;
            margin-top: 0.52rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
        figure:nth-child(8){
            margin-left: 0.7rem;
            margin-top: 0.52rem;
            figcaption{
                margin-top: 0.28rem;
            }
        }
    }
}